#container{
  
display: flex;
    
  
}
#container  #div1{
   width: 40%;
  height: 1000px;
   background-color: #000;
   
}
#container  #div2{
    width: 60%;
   height: 1000px;
    background-image: url(https://media.sugarcosmetics.com/upload/loginPageBackGroundTexture.png);
   
 }
 #div1{
    text-align: center;
 
 }
#div1 img{
    margin-top: 30%;
    width: 70%;
    height: auto;
}
#div2{
    text-align: center;
}
p{
    font-size: 20px;
}
span{
    color: red;
}

#box2{
    margin-top: 200px;
}
#box1{
    margin-top: 50px;
}
#inputvalue{
    width: 200px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}
#btn{
 font-size: 15px;
 padding: 5px;
 background-color: #000;
 color: white;
}